{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}
<div class="row-fluid">

    <div>
        {% if current_user.is_authenticated() %}
        <h1>Страница администратора</h1>
        <br>
        <ul>
            <li>Категори/подкатегории редактируются во вкладке <em>Category</em></li>
            <li>Товар и его свойства(атрибуты) редактируются во вкладке <em>Product</em></li>
        </ul>
        {% else %}
        <form method="POST" action="">
            {{ form.hidden_tag() if form.hidden_tag }}
            {% for f in form if f.type != 'CSRFTokenField' %}
            <div>
            {{ f.label }}
            {{ f(class_="form-control") }}
            {% if f.errors %}
            <ul>
                {% for e in f.errors %}
                <li>{{ e }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            </div>
            {% endfor %}
            <br>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
        {% endif %}
    </div>
</div>
{% endblock body %}