{% extends "base.html" %}
{% block content %}
<div class="main">
	<div class="l_layout">
		<div class="tree">
			<a href="#">Головна </a> /
			<a href="#">Каталог</a> /
			Сумки та рюкзаки 

			{% if category %}
				{{category.name}}
			{% else %}
				lol
			{% endif %}

		</div>
		<div class="section">
			<div class="l_col1">
				<div class="nav">
					<h2>Чемодани та сумки</h2>
					<ul >
						<li><a href="#">Сумки</a></li>
						<li><a href="#">Сумочки та клатчі</a></li>
						<li class="is-active"><a href="#">Рюкзаки</a></li>
						<li><a href="#">Складні сумки</a></li>
						<li><a href="#">Для мандрувань та спорта</a></li>
						<li><a href="#">Сумки для ноутбука</a></li>
					</ul>
				</div>
				<div class="filter">
					<div class="poll__form">
						<h3>Виробник</h3>
						<input class="btn" type="submit" value="ЗКИНУТИ"><i class="close"></i>
						<div class="radio-wrap">
							<label class="radio">
								<input type="radio" name="name" checked>
								<span>Derby</span>
							</label>
						</div>
						<div class="radio-wrap">
							<label class="radio">
								<input type="radio" name="name">
								<span>VIF</span>
							</label>
						</div>
						<div class="radio-wrap">
							<label class="radio">
								<input type="radio" name="name">
								<span>Авторські сумки від Tanya Klyova</span>
							</label>
						</div>
				</div>
			</div>
		</div>

			<div class="l_col2">
				<div class="sort">
					<div class="sort__all">
						<p>Всього <a href="#">1025 </a> товарів </p>
					</div>
					<div class="sort__cattegory">
						<p>Сортувати за:</p>
						<a href="#" class="sort__choose">
							Популярныстю
						</a>
					</div>
				</div>
				<div class="point">
					<a href="#" class="point1">
						<div class="point1__wrap">
							<img src="img/bag.png" alt="">
							<h3>Готумоєсь до школи!</h3>
							<p>Шкільний рюкзак Derby <span>«Я люблю Україну»</span></p>
						</div>
						<span class="point__price">250 грн.</span>
					</a>
					<a href="#" class="point2">
						<img src="img/r6.png" alt="">
						<div class="ban__contant">
							<p><em>Нова колекція одягу від українського бренду </em></p>
							<h3 class="t_red">Balcony garment</h3>
						</div>
					</a>
				</div>
				<div class="catalog">
					<a href="#" class="catalog__item">
						<div class="catalog__img">
							<img src="img/r1.png" alt="">
						</div>
						<h3>Городський рюкзак Derby</h3>
						<p class="price">350 грн.</p>
					</a>
					<a href="#" class="catalog__item">
						<div class="catalog__img">
							<img src="img/r1.png" alt="">
						</div>
						<h3>Городський рюкзак Derby</h3>
						<p class="price">350 грн.</p>
					</a>
					<a href="#" class="catalog__item">
						<div class="catalog__img">
							<img src="img/r1.png" alt="">
						</div>
						<h3>Городський рюкзак Derby</h3>
						<p class="price">350 грн.</p>
					</a>
					<a href="#" class="catalog__item">
						<div class="catalog__img">
							<img src="img/r1.png" alt="">
						</div>
						<h3>Городський рюкзак Derby</h3>
						<p class="price">350 грн.</p>
					</a>
					<a href="#" class="catalog__item">
						<div class="catalog__img">
							<img src="img/r1.png" alt="">
						</div>
						<h3>Городський рюкзак Derby</h3>
						<p class="price">350 грн.</p>
					</a>
					<a href="#" class="catalog__item">
						<div class="catalog__img">
							<img src="img/r1.png" alt="">
						</div>
						<h3>Городський рюкзак Derby</h3>
						<p class="price">350 грн.</p>
					</a>
					<a href="#" class="catalog__item">
						<div class="catalog__img">
							<img src="img/r1.png" alt="">
						</div>
						<h3>Городський рюкзак Derby</h3>
						<p class="price">350 грн.</p>
					</a>
					<a href="#" class="catalog__item">
						<div class="catalog__img">
							<img src="img/r1.png" alt="">
						</div>
						<h3>Городський рюкзак Derby</h3>
						<p class="price">350 грн.</p>
					</a>
					<a href="#" class="catalog__item">
						<div class="catalog__img">
							<img src="img/r1.png" alt="">
						</div>
						<h3>Городський рюкзак Derby</h3>
						<p class="price">350 грн.</p>
					</a>
					<a href="#" class="catalog__item">
						<div class="catalog__img">
							<img src="img/r1.png" alt="">
						</div>
						<h3>Городський рюкзак Derby</h3>
						<p class="price">350 грн.</p>
					</a>
					<a href="#" class="catalog__item">
						<div class="catalog__img">
							<img src="img/r1.png" alt="">
						</div>
						<h3>Городський рюкзак Derby</h3>
						<p class="price">350 грн.</p>
					</a>
					<a href="#" class="catalog__item">
						<div class="catalog__img">
							<img src="img/r1.png" alt="">
						</div>
						<h3>Городський рюкзак Derby</h3>
						<p class="price">350 грн.</p>
					</a>
				<a href="#" class="load">
					<img src="img/load.png" alt="">
					<p>завантажити ще</p>
				</a>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
