{% extends "base.html" %}
{% block content %}
    <h2 class="section__title">{{ title }}</h2>
    <br>
    {% for post in posts.items %}
        <h3>{{ post.title }}</h3>
        <section>{{ post.body|safe }}</section>
        <p><small>{{ post.date.strftime('%d-%m-%Y') }}</small></p>
        <p><a href="{{ url_for('post', id=post.id, cat=cat) }}">Читати ще</a></p>
        {% if loop.index != posts.items|length %}<hr>{% endif %}
        <br>
    {% endfor %}
    {% if posts.has_next %}
    <a href="{{ url_for('post', cat=cat, page='p'~posts.next_num) }}" class="load">
        <img src="{{ url_for('static', filename='img/load.png') }}" alt="">
        <p>завантажити ще</p>
    </a>
    {% endif %}
{% endblock %}
