{% extends "base.html" %}
{% block content %}
<div class="main">
	<div class="l_layout">
		<div class="tree">
			<a href="#">Головна </a> /
			<a href="#">Каталог</a> /
			<a href="#">Сумки та рюкзаки</a> /
			Рюкзак класичний
		</div>
		<div class="section">
			<div class="big__wrap">
				<div class="product">
					<div class="catalog__img">
						<img src="img/r1.png" alt="">
					</div>
					<div class="product__wrap">
						<a href="#" class="product__item is-active">
							<img src="img/r1.png" alt="">
						</a>
						<a href="#" class="product__item ">
							<img src="img/r1.png" alt="">
						</a>
						<a href="#" class="product__item ">
							<img src="img/r1.png" alt="">
						</a>
						<div class="clear"></div>
					</div>
				</div>
				<div class="info">
					<h2>Derby 15.7 л класичний</h2>
					<p><span>Матеріал:</span> 600 поліестер</p>
					<p><span>Розміри</span> (ШхВхГ): 32 х 41 х 12 см</p>
					<p><span>Об'єм:</span> 15.7 л</p>
					<div class="info__color">
						<p>Колір:</p>
						<div class="info__color_check color_1 is-active"></div>
						<div class="info__color_check color_2"></div>
						<div class="info__color_check color_3"></div>
						<div class="info__color_check color_4"></div>
					</div>
					<p class="info__price">250 грн.</p>
					<div class="socio__top">
						<a href="#">
							<img src="img/socio_f.png" alt="">
						</a>
						<span class="number">1k</span>
					</div>
					<div class="socio__top">
						<a href="#">
							<img src="img/socio_vk.png" alt="">
						</a>
						<span class="number">458</span>
					</div>
					<div class="socio__top">
						<a href="#">
							<img src="img/socio_tw.png" alt="">
						</a>
						<span class="number">458</span>
					</div>
				</div>
				<div class="produce">
					<h2>Виробник: </h2>
					<img src="img/der.png" alt="">
					<div class="clear"></div>
					<a href="#" class="produce__site">http://www.derby.ua</a>
					<p class="produce__locate">Украина, г. Киев, пр-т Гагарина, 23</p>
					<p class="produce__tel">+38 (044) 292-7205, 296-2538 +38 (044) 296-1041</p>
				</div>
				<a href="#" class="map">
					<img src="img/map.png" alt="">
				</a>

			</div>
		</div>
		<div class="inventory">
				<h2>опис</h2>
				<h3>Derby 15.7 л класичний</h3>
				<p>Класичний молодіжний рюкзак DERBY складається з прямокутного кишені на блискавці на лицьовій стороні рюкзака, місткого основного відділення, додаткового відділення поменше для ноутбука 14", яке також можна використовувати для документів формату А4 (всередині основного відділення).</p>
				<br>
				<p>Лямки оброблені для комфорту з внутрішньої сторони шкір — заступником, регульовані по довжині.</p>
				<a href="#">Читати ще</a>
		</div>
	</div>
</div>
{% endblock %}
